/Otros archivos/Netbeans/Proyecto/nbproject/private/
/Otros archivos/Netbeans/Proyecto/build/
/Otros archivos/Netbeans/Proyecto/Proyecto/build/
/Otros archivos/Netbeans/Proyecto/Proyecto/nbproject/private/